.homeDiv{
    display: flex;
    justify-content: space-around;
    width: 80vw;
    height: 70vh;
}

.startBtnDiv{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.btn{
    height: 60px;
    width: 90px;
    background-color: rgb(245, 198, 69);
    border: solid 0px ;
    border-radius: 13px;
    padding-inline: 6px;
    font-size: large;
    font-weight: bolder;
}